body{
    height: 100vh;
    background-repeat: no-repeat;
    width:100vw;
    background-image:
    linear-gradient(to bottom, 
      #019689 0px,
      #019689 15vh,
      #d9dbd7 15vh,
      #d9dbd7 100%)
    
    
    
}
.container{
    display: flex;
    justify-content: center;
}
/* box dell'applicazione */
.box-app{
    width: 80%;
    height: 85vh;
    margin-top: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex;
}
.left-bar{
    border: 1px solid black;
    width: 35%;
    height: 100%;
    min-width: 250px;
}
.height-30{
    height: 30px;
    background-color: grey;
    border: 1px solid black;
    width: 100%;
}
.right-bar{
    width:65%;
    height: 100%;
    min-width: 400px;

}















