body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width:100vw;
    background-image:
    linear-gradient(to bottom, 
      #019689 0px,
      #019689 15vh,
      #d9dbd7 15vh,
      #d9dbd7 100%)
}
img[src*='avatar']:hover{
    filter: grayscale(30%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1100px;
    height: 80vh;
    min-height: 500px;
    
}
/* box dell'applicazione */
.box-app{
    width: 80vw;
    height: 80vh;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    

    
}
.left-bar{
    /* border: 1px solid black; */
    width: 35%;
    height: 100%;
    flex: 0 0 350px;
}
.height-60{
    height: 60px;
    background-color: #ebe9eb;
    /* border: 1px solid black; */
    width: 100%;
}
.user-data{
    border-right: 1px solid rgb(156, 156, 156);
    display: flex;
    justify-content: space-between;
}
.icon-position{
    display: flex;
    align-items: center;
}
.icon-position i{
    margin: 10px;
    font-size: 20px;
    color: grey;
}
.icon-position i:hover{
    color: #b2b0b2;
}
.photo-utente{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}
.right-bar{
    width:65%;
    height: 100%;
    min-width: 250px;
    flex: 1 1 100%;
    

}
.section-notify{
    height: 60px;
    width: 100%;
    background-color: #8edafd;
    display: flex;
    align-items: center;
    
}
.section-notify small{
    text-decoration: underline;
    color:#72afd1;
} 
.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    
}
.bell i{
    color: #101314;
}
.chat{
    height: calc(100% - 60px - 60px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    position: relative;
}
.input-data{
    height: 60px;
    background-color: #ebe9eb;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.input-data i{
    font-size: 25px;
    color: grey;
    margin: 30px;
}
.text-utente{
    width: 100%;
    
}
.text-utente input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b2b0b2;
    border-radius: 50px 50px 50px 50px;
    text-indent: 15px;
   
}
.container-search-bar{
    width: 100%;
    height: 40px;
    background-color:#f6f5f3 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar{
    background-color: white;
    width: 90%;
    height: 30px;
    border: 0;

}

*:focus {
    outline: none;
}
.search-bar input{
    width: 80%;
    height: 100%;
    border:1px solid white;
   
}
.contact{
    width: 100%;
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: auto  ;

}
.contact-container{
    background-color: white;
    border-top: 1px solid #b2b0b2 ;
    position: relative;
    
}
.nomi{
    position: absolute;
    
}
.contact-container:hover{
    background-color:#e0dce0;
}
.my-text{
    background-color: #e5fcd0;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 30%;
    
}
.user-text{
    background-color: #ffffff;
    border-radius: 10px;
    float: left;
    margin: 20px;
    padding: 10px;
    width: 30%;
}
.container-message{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word; /* serve per non spezzare le parole e andare a capo*/

}
.container-message-user{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: flex-start;
    word-wrap: break-word;

}
.bgSelected{
    background-color: #b2b0b2;
}
.user-text small{
    font-size: 9px;
    float: right;
    padding-top: 5px;

}
.my-text small{
    font-size: 9px;
    float: right;
    padding-top: 5px;
}
.boxEmoji{
    width: 100%;
    height: 35%;
    background-color: #ebe9eb;
    border:1px solid black;
    position: absolute;
    bottom:0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}   
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.emoji{
    margin: 4px;
    cursor: pointer;
}
.emoji:hover{
    background-color: #b8b8b8;
    border-radius: 50%;
}
















